# Ignore html files
*.html

# Ignore test files
test_*

# Ignore output dir
output/

# Ignore all peer revision directories: rev_projectName/	
rev*/

# Ignore local backup directory
backup/

# Ignore metadata directory
.metadata/*
